
body {
  display: flex;

  background-color: rgb(247, 241, 241);
}
.word {

  position: absolute;
  margin: auto;
  color:#dbc6ba;
  margin-top: 72%;
  margin-left: 4%;
  text-align: center;
  font-size: 150px;
font-family:  'Share Tech Mono', monospace;
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
.logo{
  position: fixed;
  z-index: 2;
  height: 45px;
  width: 140px;
 /* margin-top: 1%;
  margin-left: 1%;*/
}

@media (min-width: 1600px)
{
  .word {
    position: absolute;
    margin: auto;
    color:#dbc6ba;
    margin-top: 20%;
    margin-left: 40%;
    text-align: center;
    font-size: 150px;
  font-family:  'Share Tech Mono', monospace;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;

  }
}

.leftbar{
  z-index: 1;
  position: fixed;
  width: 150px;
    
    max-height: none;
    height: 100%;
    left: 0%;
    top: 0%;
    background: #c6c6c6;
}
.x123{
margin-top: 5000px;
width: 50px;
height: 50px;
margin-left: 1223px;
color: blueviolet;
}
/*a{
 

text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;


}
a:hover { 
  background-size: 100% 2px;
  
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  content: "";
  transition: width 0.3s ease-out;
}
*/
a.list2{
  left: -30px;
  top:130px ;
}
a.list3{
  position: absolute;
  left: 10px;
  top:220px ;
}
a.list4{
  left: -10px;
  top:260px ;
}
a.list5{
  left: -0px;
  top:300px ;
}
a.list6{
  left: -30px;
  top:340px ;
}
a.list3:hover:after,
a.list3:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
a {
  cursor: pointer;
  position: absolute;
  margin-left: 40px;
  color: rgb(4, 78, 78);
  top: 100px;
  line-height: 1;
  font-family:  'Share Tech Mono', monospace;
  font-size: 23px;
	position: relative;
  

	cursor: auto;
	text-decoration: none; /*убираем подчёркивание*/

}
a:after {
  cursor: pointer;
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
	background-color: rgb(4, 78, 78);
	content: "";
	transition: width 0.15s ease-out; /*задаём время анимации*/
}

a:hover:after,
a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.main_img
{
  border: 4px;
border-color: rgb(216, 6, 6);
/*border-style: solid;*/
  margin-left: 60%;
  height: 900px;
}
.btn{
  margin-left: -22%;
  margin-top: 57%;
}